commands:
  01-download-ffmpeg:
    command: "wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
    ignoreErrors: false
  02-extract-ffmpeg:
    command: "tar -xf /tmp/ffmpeg.tar.xz -C /opt"
    ignoreErrors: false
  03-create-symlinks:
    command: |
      ln -sf /opt/ffmpeg-*/ffmpeg /usr/bin/ffmpeg
      ln -sf /opt/ffmpeg-*/ffprobe /usr/bin/ffprobe
    ignoreErrors: false
  04-cleanup:
    command: "rm -f /tmp/ffmpeg.tar.xz"
    ignoreErrors: true
